flows.json
[{"id":"fe53c88d.b0d238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"49e21a49.b26a04","type":"function","z":"fe53c88d.b0d238","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"u\",msg.payload.u);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\n//following are required to receive a token\nvar apikey=\"OhkeaxPMV3pC9KifvPg5Ho8_YF05KSSQNLfWrqJ-8ymh\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["d3470fff.db57c"]]},{"id":"e0917cae.6159c","type":"http request","z":"fe53c88d.b0d238","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/450441d5-d18b-4150-92b9-75a4d2ac9a26/predictions","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":180,"wires":[["29bfff20.fd8de","d26a52b2.a80e"]]},{"id":"6bc65785.ff0568","type":"debug","z":"fe53c88d.b0d238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"d26a52b2.a80e","type":"function","z":"fe53c88d.b0d238","name":"getFrom Endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["6bc65785.ff0568","875d1aa2.e45228"]]},{"id":"29bfff20.fd8de","type":"debug","z":"fe53c88d.b0d238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":80,"wires":[]},{"id":"52fa9fe.efc366","type":"function","z":"fe53c88d.b0d238","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"9ee41e1f-a5a4-41eb-b7be-d343fc0fc4d9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar u = global.get(\"u\");\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\n//send the user values to service endpoint\nmsg.payload=\n{\"input_data\": [{\"fields\": [\"id\", \"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\", \"category\", \"cuisine\", \"city_code\", \"region_code\", \"center_type\", \"op_area\"],\n\"values\":[[u,a,b,c,d,e,f,g,h,i,j,k,l,m]]}]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":180,"wires":[["e0917cae.6159c"]]},{"id":"d3470fff.db57c","type":"http request","z":"fe53c88d.b0d238","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":100,"wires":[["52fa9fe.efc366"]]},{"id":"875d1aa2.e45228","type":"ui_text","z":"fe53c88d.b0d238","group":"837bad64.cc16c","order":1,"width":0,"height":0,"name":"","label":"Food Demand","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":340,"wires":[]},{"id":"2cb98ae.a084176","type":"ui_form","z":"fe53c88d.b0d238","name":"","label":"","group":"837bad64.cc16c","order":0,"width":0,"height":0,"options":[{"label":"id","value":"u","type":"number","required":true,"rows":null},{"label":"week","value":"a","type":"number","required":true,"rows":null},{"label":"center_id","value":"b","type":"number","required":true,"rows":null},{"label":"meal_id","value":"c","type":"number","required":true,"rows":null},{"label":"checkout_price","value":"d","type":"number","required":true,"rows":null},{"label":"base_price","value":"e","type":"number","required":true,"rows":null},{"label":"emailer_for_promotion","value":"f","type":"number","required":true,"rows":null},{"label":"homepage_featured","value":"g","type":"number","required":true,"rows":null},{"label":"category","value":"h","type":"text","required":true,"rows":null},{"label":"cuisine","value":"i","type":"text","required":true,"rows":null},{"label":"city_code","value":"j","type":"number","required":true,"rows":null},{"label":"region_code","value":"k","type":"number","required":true,"rows":null},{"label":"center_type","value":"l","type":"text","required":true,"rows":null},{"label":"op_area","value":"m","type":"number","required":true,"rows":null}],"formValue":{"u":"","a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["49e21a49.b26a04"]]},{"id":"837bad64.cc16c","type":"ui_group","z":"","name":"Default","tab":"d5d09625.e59c28","order":1,"disp":true,"width":"6","collapse":false},{"id":"d5d09625.e59c28","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]